###########################################
## Common files
###########################################

/diagrama_clases_UML_inked.jpg

###########################################
## Maven
###########################################

target/

###########################################
## Java
###########################################

*.jar